li {
    font-family: 'Cairo', sans-serif;
    font-size: 30px;
}

a {
    text-decoration: none
}

.background-image {
    background-image: url("../assets/img/logo_glacial.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 200px;
    width: 200px;
    background-size: contain;
    /* background-color: red; */
}

#sidebar ul li.clientes {
    color: #ACF2FA;
}

#sidebar ul li.clientes:hover {
    background-color: #06034E;
}


#sidebar ul li.ordenes-servicio {
    color: #FFFEE4;
}

#sidebar ul li.ordenes-servicio:hover {
    background-color: #494701;
}

#sidebar ul li.iniciar-sesion {
    color: #15D35A;
}

#sidebar ul li.iniciar-sesion:hover {
    background-color: #04712B;
}

#sidebar ul li.cerrar-sesion {
    color: #F8402A;
}

#sidebar ul li.cerrar-sesion:hover {
    background-color: #5A120A;
}



#sidebar ul{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: 0px;

    /* Effect */
    transition: all 300ms linear;
}

#sidebar ul li{
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3)
}

#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 3px 0px;
}

 #working-area {
    /* Effect */
    transition: all 300ms linear;

}

 #working-area.active {
    left: 0px;
}
