.header, .header-space, .footer, .footer-space { height: 100px; }
.header { position: fixed; top: 0; }
.footer { position: fixed; bottom: 0; }
@media screen {
  :host {
    display: none;
  }
}

.background-image {
  /* background-image: url("../../assets/img/logo_glacial.jpg"); */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 150px;
  width: 200px;
  background-size: contain;
  /* background-color: red; */
}